/*colours*/

:root {
    --header-colour : rgb(254, 253, 254);
     --colour-nav-bar : rgb(114, 86, 145);
    --bg-nav-bar-hover :  rgb(255, 255, 255);
    --icon-box-shadow : 10px 5px 5px rgb(150, 58, 204);
    --h1-bg : rgba(243, 175, 243, 0.553);
    --h1-colour : rgb(114, 86, 145);
    --footer-colour : rgb(114, 86, 145);
    --footer-bg : rgb(243, 175, 243);
    --button-animation-colour : linear-gradient(
    to right,
    rgba(252, 2, 177, 0.9) 25%,
    rgba(252, 74, 199, 0.8) 50%,
    rgba(255, 112, 219, 0.9) 75%
  );
}

////////////////////////////////////////////////////////////////////////////////////////////




  