.pics {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: center;
} /*position of the pics*/

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

