.projets {
    margin-top: 30px;
}

embed {
    border-radius: 35px;
} /*pdf photo border*/


                    /*buttons animation*/

 .projetsanimation {
  position: relative;
  background: rgba(168, 118, 168, 0.553);
  color: #390440;
  border-radius: 20px;
  overflow: hidden;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.projetsanimation::before {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  background: var(--button-animation-colour);
  border-radius: 20px;
  animation: move_eye 3s linear infinite alternate;
  opacity: 1;
}

@keyframes move_eye {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}


#projetnoel {
  height: 300px;
  width: 250px;
}
