*{
  margin: 0;
  padding: 0;
} /* content full screen*/

/*header settings*/

header {
  text-align: center;
  font-weight: bold;
  color: rgb(114, 86, 145);
  font-size:xx-large;
}

                /* nav bar settings*/

nav{
  margin-top: 25px;
  margin-bottom: 100px;
  font-weight: bold;
}

nav ul :hover{
  transform: scale(1.2);
  background-color: white; 
}

nav li {
  display: inline;
  background: rgba(243, 175, 243, 0.553);
   color: rgb(114, 86, 145);
   border-radius: 30px;
}

a {
  text-decoration: none;
  color: rgb(114, 86, 145);
}

/*body and main settings*/

h1 {
  font-weight: bold;
  color: rgb(114, 86, 145);
  background: rgba(243, 175, 243, 0.553);
  font-size: xx-large;
  margin-bottom: 100px;
  margin-top: 80px;
  text-align: center;
  border-radius: 80%;
}

li {
  grid-template-columns: repeat(auto-fit, 1fr);
  padding: 15px;
  list-style-type: none;
}

body {
  text-align: center;

}

body {
  background-image: url(https://img.freepik.com/vecteurs-premium/moderne-fond-onde-elegant_634677-7561.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}


.icon {
  height: 40px;
  width: 40px;
  box-shadow: 10px 5px 5px rgb(150, 58, 204);
}/*titles' icons*/

img {
  border-radius: 50px;
} /*all photos*/

                /*footer settings*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(243, 175, 243);
  font-weight: bold;
  color: rgb(114, 86, 145);
  text-align: center;
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




