*{
  margin: 0;
  padding: 0;
} /* content full screen*/

/*header settings*/

header {
  text-align: center;
  font-weight: bold;
  color: rgb(254, 253, 254);
  font-size:xx-large;
}

                /* nav bar settings*/

nav{
  margin-top: 25px;
  margin-bottom: 100px;
  font-weight: bold;
  
}

nav :hover{transform: rotate(350deg);}

nav ul li :hover{
  transform: scale(1.2);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}



nav li {
  display: inline;
   color: rgb(114, 86, 145);
}



a {
  text-decoration: none;
}


/*body and main settings*/

h1 {
  font-weight: bold;
  color: rgb(114, 86, 145);
  background: rgba(243, 175, 243, 0.553);
  font-size: xx-large;
  margin-bottom: 100px;
  margin-top: 80px;
  text-align: center;
  border-radius: 80%;
}

li {
  grid-template-columns: repeat(auto-fit, 1fr);
  padding: 15px;
  list-style-type: none;
}



body {text-align: center;
  background-image: url(https://img.freepik.com/vecteurs-premium/moderne-fond-onde-elegant_634677-7561.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}


.icon {
  height: 40px;
  width: 40px;
  box-shadow: 10px 5px 5px rgb(150, 58, 204);
}/*titles' icons*/

img {
  border-radius: 50px;
  max-width: 100%;
height: auto;
} /*all photos  round borders*/

figure :hover{
  transform: scale(1.5);
}
                /*footer settings*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(243, 175, 243);
  font-weight: bold;
  color: rgb(114, 86, 145);
  text-align: center;
}




//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*on mobile*/

@media (min-width: 768px) {
nav li {display: grid;
  
   color: rgb(114, 86, 145);
}

footer {
  display: grid;
}


h1 { 
  font-size: clamp(2rem, 1.75rem + 1vw, 2.5rem); 
}

}
